body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  
  .container {
    flex: 1; /* Para que el contenido crezca sin mover el footer */
  }
  
  footer {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
  }
  